
h1{
    color: orange;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 30px;
    margin-bottom: 20px;
    
}

.carosel{
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1500px;
}
.nocap
{
    align-items: top;
    justify-content: center;
    text-align: center;
    background-color: bisque;
    width: 500px;
    height: 100px;
    opacity: 0.9;
}

h3{
    color: black;
}
.para{
    color: black;
}

